#root {
    -fx-background-image: url("File:src/assets/backgrounds/game_background.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-smooth: true;
}