#root {
    -fx-background-image: url("File:src/assets/main_menu_background.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: stretch;
    -fx-smooth: true;
}